<div class="row">
    <% if todo_item.completed? %>
    <div class="col-sm-3">
        <%= link_to "Make as completed", complete_todo_list_todo_item_path(@todo_list,todo_item), method: :put %>
    </div>
    <div class="col-sm-6">
        <p style="opacity: 0.4">
            <strike><%=  todo_item.title %></strike>
        </p>
    </div>
    <div class="col-sm-3">
        <%= link_to todo_list_todo_item_path(@todo_list, todo_item), method: :delete do %>
        <i class="fa fa-trash"></i>
        <% end %>
    </div>

<% else %>
    <div class="col-sm-3">
        <%= link_to "Make as completed", complete_todo_list_todo_item_path(@todo_list,todo_item), method: :put %>

    </div>
    <div class="col-sm-6">
        <p>
            <%=  todo_item.title %>
        </p>
    </div>
    <div class="col-sm-3">
        <%= link_to todo_list_todo_item_path(@todo_list, todo_item), method: :delete do %>
        <i class="fa fa-trash"></i>
        <% end %>
    </div>
    <% end %>

</div>
