<div class="row clearfix">
    <% if todo_item.completed? %>
    <div class="complete">
        <%= link_to cancel_account_todo_list_todo_item_path(@todo_list,todo_item), method: :put do %>
        <i class="fa  fa-check-square-o" style="opacity: 0.4;"></i>
        <% end %>
    </div>
    <div class="todo_item">
        <p style="opacity: 0.7">
            <strike><%=  todo_item.title %></strike>
        </p>
    </div>
    <div class="trash">
        <%= link_to account_todo_list_todo_item_path(@todo_list, todo_item), method: :delete do %>
        <i class="fa fa-trash" style="opacity: 0.7"></i>
        <% end %>
    </div>

<% else %>
    <div class="complete">
        <%= link_to complete_account_todo_list_todo_item_path(@todo_list,todo_item), method: :put do %>
        <i class="fa  fa-square-o"></i>
        <% end %>
    </div>
    <div class="todo_item">
        <p>
            <%=  todo_item.title %>
        </p>
    </div>
    <div class="trash">
        <%= link_to account_todo_list_todo_item_path(@todo_list, todo_item), method: :delete do %>
        <i class="fa fa-trash"></i>
        <% end %>
    </div>
    <% end %>

</div>
